{% extends "base.html" %}

{% block head %}
<title>Update</title>
{% endblock %}

{% block body %}
<main>
    <h1>Please amend value(s) in item boxes directly</h1>
    <table>
        <tr>
            <th>Item</th>
            <th>Data Structure</th>
            <th>Actions</th>
            <th>Creation Time</th>
        </tr>
        <tr>
            <form action="/update/{{ update_item.id }}" method="POST">
                <td>
                    <div class="inputValues">
                        {% for i in range(10) %} 
                        <input type="text" name="{{ i }}" pattern="^(\s)*\d{1,3}(\s)*$" value="{{ update_item.item.split()[i] }}" class="inputValue">
                        {% endfor %}
                    </div>
                    <div class="inputValues">
                        {% for i in range(10, update_item.item.split()|length) %} 
                        <input type="text" name="{{ i }}" pattern="^(\s)*\d{1,3}(\s)*$" value="{{ update_item.item.split()[i] }}" class="inputValue">
                        {% endfor %}
                    </div>
                </td>
                <td>{{ update_item.data_structure }}</td>
                <td><button class="button_update" value="Update">Update</button></td>
                <td>{{ update_item.date_created.strftime('%H:%M:%S') }}</td>
            </form>
        </tr>
    </table>
    <div class="updateBack">
        <form action="/" method="GET" >
            <button value="back">Go Back</button>
        </form>
    </div>
</main>
{% endblock %}